body
{
    background-color:#000;
    color:#dedede;
    font-family:Courier;
    font-size:12pt;
}

#main
{
}

#mainCanvas
{ 
    top:10%;
    left:10%;
    width:80%;
    height:80%;
    border:1px solid #fff;
    background-color:#f00;
}